<div class="container d-flex flex-column gap-2" style="padding-left: 300px;padding-top: 80px;">
    <div>
        <h1><b class="bold" style="font-family: 'Times New Roman', Times, serif;">{{a}}!!<i class="fa-sharp fa-solid fa-face-smile fa-bounce"></i></b></h1>
    </div>
  
    <div class=" d-flex">
        <div class="row d-flex">
            <div class="col-sm-4">
             <mat-card class="card1">
              <h3 class="header" style="text-align: center; font-weight: bold;padding-top: 15px;">CALENDAR</h3>
             <mat-calendar> </mat-calendar>
           
             </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card2">
                 
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="card3">
                   
                </mat-card>
            </div>
        </div>
    </div>
</div>